<% provide(:title, 'All Users') %>
<% provide(:class_text, 'All Users') %>
<% provide(:button_text, '編集する') %>


<h1>ユーザー一覧</h1>

<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "CSVをインポート" , class: "btn btn-primary"%>
<% end %>


<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %><br>

    <% @users.each do |user| %>
      <tr>
        <td class="left">
          <% if current_user.admin? && !current_user?(user) %>
           <%= user.name %><br>
           |
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %><br>
            <div class="jumbotron">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" 
              data-target="#collapseExample<%= user.id %>" aria-expanded="false" aria-controls="collapseExample">
               編集
              </button>
            </div>
          　</p>
          <div class="collapse" id="collapseExample<%= user.id %>">
            <div class="card card-body">
              <%= render 'form2', user: user %>
            </div>
          </div>

            
          <% end %>
        </td>
      </tr>
    <% end %>
  <%= will_paginate %>
</div>